* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  line-height: 24px;
  height: 100%;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  height: 100vh;
  background-color: #1F2137;
  margin: 0;
}

#root {
  height: 100%;
}
